{% extends 'shared/base.html' %}

{% block content %}
<h1>{{ computer.make }} {{ computer.model }}</h1>
<ol>
    <li>
        <p>Purchase Date: {{ computer.purchase_date }}</p>
    </li>
    {% if computer.decommission_date %}
    <li>
        <p>Decommission Date: {{ computer.decommission_date }}</p>
    </li>
    {% endif %}
    <li>
        <p>Assigned Employee: 
            {% if computer.first_name%}{{ computer.first_name }} {{ computer.last_name }}
            {% else %}None
            {% endif %}</p>
    </li>
</ol>

<form action="{% url 'hrapp:computer_details' computer.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
</form>

<a href="{% url 'hrapp:computer_list' %}">
    <button type="button">Back</button>
</a>
{% endblock content %}