/* employee list */

.employee-list-item {
    background-color: #1f2833;
    flex-basis: 20%;
    padding: 0 2em 0.5em 2em;
    border: 1px solid gray;
    margin: 1em;
    padding: 1.5em;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
  
  }
  
  .employee-list-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .employee-link {
    color: #45a29e;
    text-decoration: none;
  }
  .employee-link:hover {
    color: white;
    text-decoration: none;
  }
  
  .add-employee {
    color: #45a29e;
    margin-left: 2%;
    text-decoration: none;
  }
  
  .add-employee:hover {
    color: #1f2833;
    margin-left: 2%;
    text-decoration: none;
  }



/* employee form */

.employee-form-container {
    background-color: #1f2833;
    border-radius: 20px;
    color: white;
    padding: 0 2em 0.5em 2em;
    padding: 1.5em;
    border: 1px solid gray;
    margin: 1em;
}

.employee-form-button {
    background-color: #5a5560;
    color: white;
    font-size: medium;
    font-family: 'Courier Prime', monospace;
    border-radius: 10px;
    margin: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;

}

fieldset {
    margin: 10px;
}

#first_name, #last_name, #start_date {
    font-size: 20px;
    /* background-color: #7f7a85; */
    /* color: white; */
    /* font-family: 'Courier Prime', monospace; */

}
#department_id, #is_supervisor {
    font-size: 20px;
    /* background-color: #7f7a85; */
    color: white;
    /* font-family: 'Courier Prime', monospace; */

}

.employee-form-container label {
    font-family: 'Courier Prime', monospace;

}


/* employee details */

.employee__detail__title {
    color:#45a29e;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder; 
    font-size: 40px;

}

.employee__details__content {
    font-family: 'Courier Prime', monospace;
    color: #c5c6c7;
}


#employee-details {
    background-color: #1f2833;
    border-radius: 20px;
    color: white;
    padding: 0 2em 0.5em 2em;
    padding: 1.5em;
    border: 1px solid gray;
    margin: 1em;
}

#employee-actions button {
    background-color: #5a5560;
    color: white;
    font-size: medium;
    font-family: 'Courier Prime', monospace;
    border-radius: 10px;
    margin: 3px;
}

.add-program {
    text-decoration: none;
    color: white;   
}

.add-program:hover {
    text-decoration: none;
    color: #45a29e;   
}