/* training-program list */

.training-program-list-item {
    background-color: #1f2833;
    flex-basis: 25%;
    padding: 0 2em 0.5em 2em;
    border: 1px solid gray;
    margin: 1em;
    padding: 1.5em;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
  
  }
  
  .training-program-list-container, .button-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .training-program-link {
    color: #45a29e;
    text-decoration: none;
  }
  .training-program-link:hover {
    color: white;
    text-decoration: none;
  }
  
  .add-training-program {
    color: #45a29e;
    margin-left: 2%;
    text-decoration: none;
  }
  
  .add-training-program:hover {
    color: #1f2833;
    margin-left: 2%;
    text-decoration: none;
  }



/* training-program form */

.training-program-form-container {
    background-color: #1f2833;
    border-radius: 20px;
    color: white;
    padding: 0 2em 0.5em 2em;
    padding: 1.5em;
    border: 1px solid gray;
    margin: 1em;
}

.training-program-form-button {
    background-color: #5a5560;
    color: white;
    font-size: medium;
    font-family: 'Courier Prime', monospace;
    border-radius: 10px;
    margin: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;

}

fieldset {
    margin: 10px;
}

#first_name, #last_name, #start_date, #capacity, #end_date, #title {
    font-size: 20px;
    /* background-color: #7f7a85; */
    /* color: white; */
    /* font-family: 'Courier Prime', monospace; */

}

.training-program-form-container label {
    font-family: 'Courier Prime', monospace;

}


/* training-program details */

.training_program__detail__title {
    color:#45a29e;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder; 
    font-size: 40px;

}

.training_program__details__content {
    font-family: 'Courier Prime', monospace;
    color: #c5c6c7;
}


#training-program-details {
    background-color: #1f2833;
    border-radius: 20px;
    color: white;
    padding: 0 2em 0.5em 2em;
    padding: 1.5em;
    border: 1px solid gray;
    margin: 1em;
}

#training-program-actions button {
    background-color: #5a5560;
    color: white;
    font-size: medium;
    font-family: 'Courier Prime', monospace;
    border-radius: 10px;
    margin: 3px;
}

.add-program {
    text-decoration: none;
    color: white;   
}

.add-program:hover {
    text-decoration: none;
    color: #45a29e;   
}