{% extends 'shared/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/departments.css' %}" type="text/css" media="screen" />
{% endblock %}
    {% block content %}
    <h1 class="page-header">Add Department</h1>
    <form action="{% url 'hrapp:department_list' %}" method="post" class="department-form-container">
        {% csrf_token %}
        <fieldset>
            <label for="department_name">Name: </label>
            <input id="department_name" type="text" name="department_name" required value="{{ departmentt.department_name }}">
        </fieldset>
        <fieldset>
            <label for="budet">Budget: </label>
            <input id="budget" type="integer" name="budget" required value="{{ department.budget}}">
        </fieldset>
        
        <input type="submit" value="Create" class="department-form-button" />
    
    </form>
    {% endblock %}

</body>

</html>