{% extends 'shared/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/employees.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}
<section id="employee-details" class="employee__details__content">
    <h1 class="employee__detail__title">{{ employee.first_name }} {{ employee.last_name }}</h1>
    <div>Department: {{employee.department_name}}</div>
    {% if computer.make == none or computer.model == none or computer.purchase_date == none %}
        <div>Computer: Not Assigned</div>
    {% else %}
        <div>Computer: {{computer.make}} {{computer.model}} {{computer.purchase_date}}</div>
    {% endif %}

    <h4>Training Programs:</h4>
    <ul>
    {% for program in programs %}
        {% for p in program%}
            <li> {{p.title}} ({{p.start_date}} thru {{p.end_date}})</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <section id="employee-actions" style="display:flex;">
        <form action="{% url 'hrapp:employee_edit_form' employee.id%}" method="GET">
        {% csrf_token%}
            <button>Edit</button>
        </form>
    </section>
    <a href="{% url 'hrapp:employee_training_program_form' employee.id %}" class="add-program"><button class="employee-form-button">Add a Training Program</button></a>
</section>
{% endblock %}