{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<section class="employee-detail-container">
    <h1 class="employee-detail-title">{{ employee.first_name }} {{ employee.last_name }}</h1>
    <div>Department: {{employee.department_name}}</div>
    {% if computer.make == none or computer.model == none or computer.purchase_date == none %}
        <div>Computer: Not Assigned</div>
    {% else %}
        <div>Computer: {{computer.make}} {{computer.model}} {{computer.purchase_date}}</div>
    {% endif %}
    
</section>
{% endblock %}