{% extends 'shared/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/employees.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}
    <h1 class="page-header">Add Training Program</h1>


    <form action="{% url 'hrapp:employee_details' employeeId %}" method="post" class="employee-form-container">
      {% csrf_token %}
      <input id="employee_id" type="hidden" name="employee_id" value="{{employeeId}}" />
 

      <fieldset>
          <label for="training_program_id">Training Program: </label>
          <select id="training_program_id" type="text" name="training_program_id" required>
          {% for program in all_programs %}
              <option value="{{program.id}}">{{program.title}} ({{program.start_date}} thru {{program.end_date}})</option>
          {% endfor %}
          </select> 
      </fieldset>

      <input class="employee-form-button" type="submit" value="Assign" />
      <a href="{% url 'hrapp:employee_details' employeeId %}">
        <button type="button" class="employee-form-button">Cancel</button>
    </a>
    </form>
{% endblock content %}