{% extends 'shared/base.html' %}

{% block content %}

    {% if employee.id is not None %}
    <h1>Edit Employee</h1>
        <form action="{% url 'hrapp:employee_details' employee.id%}" method="post">
    {% else %}
    <h1>New Employee</h1>
        <form action="{% url 'hrapp:employee_list' %}" method="post">
    {% endif %}
        {% csrf_token %}

      {% if employee.id is None %}
      <fieldset>
          <label for="first_name">First Name: </label>
          <input id="first_name" type="text" name="first_name" value="{{ employee.first_name }}" required>
      </fieldset>
      {% else %}
          <input id="first_name" type="hidden" name="first_name" value="{{ employee.first_name }}" required>
      {% endif %}
                {% csrf_token %}

      <fieldset>
          <label for="last_name">Last Name: </label>
          <input id="last_name" type="text" name="last_name" value="{{ employee.last_name }}" required>
      </fieldset>

      {% if employee.id is None %}
      <fieldset>
          <label for="start_date">Start Date: </label>
          <input id="start_date" type="date" name="start_date" value="{{ employee.start_date }}" required>
      </fieldset>
      {% else %}
          <input id="start_date" type="hidden" name="start_date" value="{{ employee.start_date }}" required>
      {% endif %}
                {% csrf_token %}

      <fieldset>
          <label for="department">Department: </label>
          <select id="department_id" type="text" name="department_id" value="{{ employee.department_id }}" required>
                {% for department in all_departments %}
                    <option value="{{ department.id }}">{{ department.department_name }}</option>
                {% endfor %}
          </select> 
      </fieldset>

      <fieldset>
          <label for="computer">Computer: </label>
          <select id="computer_id" type="text" name="computer_id" value="{{ computer.id }}" required>
                {% for computer in unassigned_computers %}
                    <option value="{{ computer.id }}">{{ computer.make }}{{ computer.model }}</option>
                {% endfor %}
                
          </select> 
      </fieldset>
<h3>{{employee.is_supervisor}}</h3>
      {% if employee.id is None %}
      <fieldset>
          <label for="is_supervisor">Superviser: </label>
          <select id="is_supervisor" type="text" name="is_supervisor" value="{{ employee.is_supervisor }}" required>
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
          </select> 
      </fieldset>
      {% else %}
          <input id="is_supervisor" type="hidden" name="is_supervisor" value="{{ employee.is_supervisor }}" required>
      {% endif %}
                {% csrf_token %}
      
       {% if employee.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

      <a href="{% url 'hrapp:employee_list' %}">
        <button type="button">Back</button>
      </a>

    </form>
{% endblock content %}