{% extends 'shared/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/training_programs.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}
<h1 class="page-header">Add Training Program</h1>
<section class="training-program-form-container">
  {% if training_program.id is not None %}
      <form action="{% url 'hrapp:training_program_details' training_program.id %}" method="post">
  {% else %}
      <form action="{% url 'hrapp:training_program_list' %}" method="post">
  {% endif %}
  {% csrf_token %}
    <fieldset>
      <label for="title">Title: </label>
      <input id="title" type="text" name="title" required value="{{ training_program.title }}">
    </fieldset>
    <fieldset>
      <label for="start_date">Start Date: </label>
      <input id="start_date" type="date" name="start_date" required value="{{ training_program.start_date }}">
    </fieldset>
    <fieldset>
      <label for="end_date">End Date: </label>
      <input id="end_date" type="date" name="end_date" required value="{{ training_program.end_date }}">
    </fieldset>
    <fieldset>
      <label for="capacity">Capacity: </label>
      <input id="capacity" type="number" name="capacity" required value="{{ training_program.capacity }}">
    </fieldset>
    {% if training_program.id is not None %}
      <input type="hidden" name="actual_method" value="PUT">
      <input type="submit" value="Update" class="training-program-form-button"/>
    {% else %}
      <input type="submit" value="Create" class="training-program-form-button"/>
    {% endif %}
  </form>
  </section>
{% endblock content %}
