{% extends 'shared/base.html' %}

{% block content %}
<h1>Training Programs</h1>

 <a href="{% url 'hrapp:training_program_form' %}">Add Training Program</a>
 
<ol>
{% for training_program in training_programs %}
    <li>
    <h3><a href="{% url 'hrapp:training_program_details' training_program.id %}">
        {{ training_program.title }}</a></h3>
        <p>Start Date: {{training_program.start_date}}</p>
        <p>End Date: {{training_program.end_date}}</p>
        <p>Capacity: {{training_program.capacity}}</p>
    </li>
{% endfor %}
</ol>
{% endblock content %}
