{% extends 'shared/base.html' %}

{% block content %}

    <section id="training_program-details">
        <h1>{{ training_details.title }}</h1>
        <h2>Enrolled: {{ training_details.capacity }}</h2>

        <div>Start Date: {{ training_details.start_date }}</div>
        <div>End Date: {{ training_details.end_date }}</div>
        <ul>
        {% for attendee in attendees %}
          <li>
            {{ attendee }}
          </li>
        {% endfor %}
        </ul>
    </section>

{% endblock %}